@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Baloo Bhai 2', cursive;
}

.navbar{
    /* margin-bottom: 1rem; */
    padding: 1rem;
    background-color: rgb(238, 235, 75);
    text-align: center;
}

.main-div{
    /* border: 2px solid rgb(0, 4, 255); */
    padding: 2rem;
    background-color: #000;
    min-height: 90vh;
}

.Employee-Fieldset{
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: rgb(237, 241, 241);
}

.dob-div{
    /* border: 2px solid chartreuse; */
    text-align: center;
    margin: 1rem;
    
}

.Dob-Heading{
    font-weight: bold;
    /* margin-right: 1rem; */
}

.radio-div{
    /* border: 2px solid red; */
    width: 25%;
    margin: 1rem;
}

.Gender-Heading{
    font-weight: bold;
    margin-right: 1rem;
}

.hobbies-div{
    /* border: 2px solid cornflowerblue; */
    width: 25%;
    margin: 1rem;
}

.Hobbies-Heading{
    font-weight: bold;
    margin-right: 1rem;
}

.desgination-div{
    width: 35%;
    margin: 1rem;
}

.salary-div{
    width: 35%;
    margin: 1rem;
}

input[type = text]{
    border: none;
    margin: 1rem;
    padding: 1rem;
    width : 15rem;
    border-bottom: 2px solid rgb(116, 110, 110);
    border-radius: 2rem 4rem;
}

input[type = number]{
    border: none;
    margin: 1rem;
    padding: 1rem;
    width : 15rem;
    border-bottom: 2px solid rgb(116, 110, 110);
    border-radius: 2rem 4rem;
}

input[type=date]{
    border: none;
    margin: 1rem;
    padding: 1rem;
    width : 15rem;
    border-bottom: 2px solid rgb(116, 110, 110);
    border-radius: 2rem 4rem;
}

.Designation{
    font-weight: bold;
    /* margin-right: 1rem; */
}

select{
    border: none;
    margin: 1rem;
    padding: 1rem;
    width : 50%;
    border-bottom: 2px solid rgb(116, 110, 110);
    border-radius: 2rem 4rem;
}

.SalaryRange{
    font-weight: bold;
    /* margin-right: 1rem; */
}

.datalist{
    border: none;
    margin: 1rem;
    padding: 1rem;
    width : 50%;
    border-bottom: 2px solid rgb(116, 110, 110);
    border-radius: 2rem 4rem;
}

textarea{
    border: none;
    margin: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    width: 75%;
}

input[type = submit]{
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 25%;
    border-radius: 2rem;
    background-color: rgb(227, 240, 47);
}

input[type = submit]:hover{
    background-color: rgb(212, 226, 9) ;
}

@media screen and (max-width: 435px){
    .main-div{
        margin:0;
        padding: 0;
    }

    .Employee-Fieldset{
        padding: 0;
        border-radius: 0;
    }

    .dob-div{
        width: 100%;
    }

    .salary-div{
        width: 100%;
    }

    .desgination-div{
        width: 100%;
    }

    input[type = text]{
        width: 100%;
    }
    input[type = number]{
        width: 100%;
    }
    .datalist{
        width: 75%;
    }
    select{
        width: 75%;
    }

    input[type = submit]{
        width: 75%;
    }
}

